<% content_for :title, "Edit User" %>

<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="text-center mb-4">Edit User</h2>
    <hr class="border-light">

    <%= render "form", user: @user %>

    <div class="d-flex justify-content-center gap-2 mt-3">
      <%= link_to "Show User", @user, class: "btn btn-primary" %>
      <%= link_to "Back to Users", users_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>
