<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <a class="navbar-brand" href="#">Marketplace</a>
        <input class="form-control me-2 w-25" type="text" placeholder="Search">
        <div class="ms-auto">
            <a class="nav-link d-inline text-light px-3" href="#">Categories</a>
            <a class="nav-link d-inline text-light px-3" href="#">Cart</a>
            <a class="nav-link d-inline text-light px-3" href="#">Account</a>
            <% if user_signed_in? %>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete,
        class: "nav-link d-inline text-light px-3",
        data: { turbo_method: :delete } %>
<% end %>
        </div>
          <% if flash[:notice] %>
    <div id="flash-message" class="position-absolute top-100 start-50 translate-middle-x bg-success text-white px-3 py-1 rounded mt-2">
      <%= flash[:notice] %>
    </div>
    <script>
        setTimeout(function () {
        window.location.reload();
        }, 3000); // Reload after 3 seconds
    </script>
  <% end %>

    </nav>

    <div class="banner p-5 rounded" style="background-image: url(<%= asset_path('shopping-bag.webp') %>); background-size: cover; background-position: center; color: white; text-shadow: 1px 1px 4px rgba(0,0,0,0.7);"">
        <div class="banner bg-light p-5 rounded syle" style = "color:black;">
            <h1 class="display-4">Welcome to the Marketplace</h1>
            <p class="lead">Find everything you need here</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Product 1 (Placeholder)</h5>
                        <p class="card-text">Placeholder description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Product 2 (Placeholder)</h5>
                        <p class="card-text">Placeholder description</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Product 3 (Placeholder)</h5>
                        <p class="card-text">Placeholder description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>



