@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';


.card {
    transition: transform 0.3s ease;
    
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
  }
  
  .btn {
    transition: all 0.2s ease;
    
    &:hover {
      transform: scale(1.02);
    }
  }
  
  .text-muted {
    color: #6c757d !important;
  }